body {
      font-family: "Prototype";
      padding: 20px;
    }

header,h3,h4,h5 {
    color: #9752D0;
    text-align: left;
}

form {
    padding-top: 20px;
    width: 500px;
}

fieldset {
  padding-top: 10px;
}

legend {
    font-size: 24px;
    color: #9752D0;
}

ul{
  width: 450px;

}

label {
      text-align: left;
      display: inline;
}
input {
  background-color: #AFBF99;
  display: inline;
  text-align:center;
  float: right;
  width: 150px;
  height: 18px;
}

table {
   border: 0px solid black;
   font-style: bold;
}

th {
  border: 2px solid black;
  font-style: bold;
  text-align:  center;
  padding: 15px;
}

td {
  border: 2px solid black;
  text-align: center;
  padding: 15px;
}

h1 {
  text-align: left;
}

button {
  background-color: #AFBF99;
}
